<html>
<head>
<title>HOME</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen">
<style type="text/css">
.container {
	max-width: 500px;
	padding-top: 100px;
}
</style>
</head>

		
  <body>


<div class="container">
<h1> Web Application </h1>
<h2> Homepage </h2>

	
	<div> <form action="./statistics" method="POST">
	<input type="submit" value="Statistics" />  </div> </form>
 	<div><form action="./classification" method="POST">
	<input type="submit" value="Classification" />  </div> </form>
	<div>  <form action="./performance" method="POST">
	<input type="submit" value="Performance" />  </div> </form>
  	

  	
	
     </body>
</html>