<html>
<head>
<title>HOME</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen">
<style type="text/css">
.container {
	max-width: 500px;
	padding-top: 100px;
}
</style>
</head>
<body>
	<div class="container">

		
		<h1>Statistics</h2>
		<div>

			<p># of individuals in the training graph: {{stats.trainingGraphStats}}</p>
		</div>
		<div>
			<p># of individuals in the test graph: {{stats.testGraphStats}}</p>
		</div>
		<div>
			<p># of individuals in the evaluation graph: {{stats.validationGraphStats}}</p>
		</div>
</body>
</html>